{% extends "./layout.html" %}
{% block title %}F1 Tyre Strategy{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
            <div style="display: flex; justify-content: center;">
                <img src="static\final_strategy.png" alt="Descripción de la imagen" class="img-fluid" id="TituloWeb">
        </div>        
    </div>
    <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="static/LogoF1.png" alt="Logo" width="120" height="60" class="logoF1">
                </a>

                <form class="d-flex" role="search">
                    <button class="btn btn-danger btn-large" id="HOME">HOME</button>
                </form>
            </div>
          </nav>
    </div>
    <div class="row my-2">
      <p id="text-tyres">THIS ARE YOUR RESULTS</p>
    </div>
    <div class="container text-center">
        <div class="row row-cols-3">
          <div class="col">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">VUELTAS(-)</h5>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">VUELTAS(-)</h5>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">VUELTAS(-)</h5>
                </div>
              </div>
          </div>
      </div>
{% endblock %}