<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Tyre Strategy</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="container">
        <div class="sidebar">
            <button class="button" onclick="changeImage('static/Albert Park.png', 'Albert Park')">Albert Park</button>
            <button class="button" onclick="changeImage('static/bahrein.png', 'Bahrain')">Bahrain</button>
            <button class="button" onclick="changeImage('static/interlagos.png', 'Interlagos')">Interlagos</button>
            <button class="button" onclick="changeImage('static/jeddah.png', 'Jeddah')">Jeddah</button>
            <button class="button" onclick="changeImage('static/SPA.png', 'SPA')">SPA</button>
            <button class="button" onclick="changeImage('static/Suzuka.png', 'Suzuka')">Suzuka</button>
            <button class="button" onclick="changeImage('static/yourowncircuit.png', 'Your Own Circuit')">Your Own Circuit</button>
        </div>

        <div class="main-content">
            <div id="image-title">F1 Tyre Strategy</div> <!-- Title element -->
            <img id="image-display" src="static/pitstop.png" alt="Default Image">
        </div>
    </div>

    <button id="menu-button" onclick="goToMenu()">Go to Menu</button>

    <script>
        // Function to change image and title when a button is clicked
        function changeImage(imageName, imageTitle) {
            document.getElementById("image-display").src = imageName;
            document.getElementById("image-title").innerText = imageTitle; /* Set the title */
        }

        // Function to navigate to another menu
        function goToMenu() {
            // Replace this with the URL of your menu page
            window.location.href = "menu.html";
        }

        // Set default image and title on page load
        window.onload = function () {
            // Set the default image and title here
            document.getElementById("image-display").src = "static/pitstop.png";
            document.getElementById("image-title").innerText = "F1 Tyre Strategy";
        };
    </script>

</body>

</html>
