{% extends "./layout.html" %}
{% block title %}Length{% endblock %}

{% block body %}
<div class="container text-center fluid">
  <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
            <div style="display: flex; justify-content: center;">
                <img src="static\length_laps.png" alt="Descripción de la imagen" class="img-fluid" id="TituloWeb">
        </div>        
    </div>
  <div class="row my-2">
      <p id="text-weather">PICK THE LENGTH AND LAPS</p>
  </div>
  <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="static/LogoF1.png" alt="Logo" width="120" height="60" class="logoF1">
                </a>

                <form class="d-flex" role="search" id="length_form" action="{{ url_for('process_length_and_redirect') }}" method="post">
                    <a id="HOME" class="btn btn-danger btn-large" href="{{ url_for('index') }}">HOME</a>
                    <a class="btn btn-secondary btn-small" id="HOME" href="{{ url_for('corners') }}"><</a>
                    <button type="submit" id="HOME" class="btn btn-success btn-small" onclick="submitLengthData()">SEND</button>
                    <input type="hidden" id="length_km" name="length_km" value="">
                    <input type="hidden" id="laps" name="laps" value="">
                </form>
            </div>
        </nav>
  </div>
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">
        <div class="card">
            <img src="static\Circuito_generico.png" id="card-img-top" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LENGTH</h5>
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="length_input" placeholder="LENGTH (KM)" aria-label="LENGTH">
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="static\bandera_cuadros.png" id="card-img-top" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LAPS</h5>
            </div>
            <div class="card-footer">
                <input type="text" class="form-control" id="laps_input" placeholder="LAPS" aria-label="LAPS">
            </div>
          </div>
      </div>
</div>

<script>
  function submitLengthData() {
    var length = document.getElementById('length_input').value;
    var laps = document.getElementById('laps_input').value;
  
    // Guardar la longitud y vueltas en campos ocultos
    document.getElementById('length_km').value = length;
    document.getElementById('laps').value = laps;

    // Enviar los datos al servidor
    document.getElementById('length_form').submit();
  }
</script>
{% endblock %}
