body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1; /* 1/6 of the width of the screen */
    background-color: #282c34; /* Sidebar background color */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the buttons vertically */
    align-items: center; /* Center the buttons horizontally */
}

.main-content {
    flex: 5; /* 5/6 of the width of the screen */
    background-color: #f0f0f0; /* Updated background color */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #61dafb; /* Same color as the other buttons */
    color: black; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    width: 80%; /* Buttons occupy 4/5 of the sidebar */
    text-align: center; /* Center the text on the button */
}

#image-display {
    width: 80%; /* Adjusted width to fit the remaining space */
    height: 80%; /* Adjusted height to fit the remaining space */
}

#menu-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #61dafb; /* Same color as the other buttons */
    color: black; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    width: 80px; /* Set the button width */
}

#image-title {
    font-size: 1.8em; /* Increased font size */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: black; /* Title text color */
}
