{% extends "./layout.html" %}
{% block title %}F1 Tyre Strategy{% endblock %}

{% block body %}
<div class="container text-center fluid">
  <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
            <div style="display: flex; justify-content: center;">
                <img src="static/Tyre_Selector.png" alt="Descripción de la imagen" class="img-fluid" id="TituloWeb">
        </div>        
    </div>
  <div class="row my-2">
      <p id="text-weather">PICK THE WEATHER AND TEMPERATURE CONDITIONS</p>
  </div>
  <div class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="static/LogoF1.png" alt="Logo" width="120" height="60" class="logoF1">
                </a>

                <form class="d-flex" role="search">
                    <button class="btn btn-danger btn-large" id="HOME">HOME</button>
                    <button class="btn btn-secondary btn-small" id="HOME"><</button>
                    <button class="btn btn-success btn-small" id="CONTINUE" type="submit">></button>
                </form>
            </div>
        </nav>
  </div>
  <div class="row my-2" id="row_card">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-2">
      <div class="card" id="card">
        <img src="static\sun.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SUNNY</h5>
          <button type="button" class="btn btn-success active" data-bs-toggle="button" aria-pressed="true">SELECT</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-2">
      <div class="card" id="card">
        <img src="static\cloudy.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CLOUDY</h5>
          <button type="button" class="btn btn-success active" data-bs-toggle="button" aria-pressed="true">SELECT</button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card">
              <img src="static\double_arrow.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MEDIUM</h5>
                <p class="card-text">
                  <li>Balances grip and speed for mixed track layouts</li>
                  <li>Versatile performance across different sections of the track</li>
                  <li>Moderate stability and agility</li>
                </p>
                <button type="button" class="btn btn-success active" data-bs-toggle="button" aria-pressed="true">SELECT</button>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card">
              <img src="static\triple_arrow.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">HIGH</h5>
                <p class="card-text">
                  <li>Maximizes straight-line speed and acceleration</li>
                  <li>Minimizes drag for top-end velocity</li>
                  <li>Suitable for tracks with long straights and few tight corners</li>
                </p>
                <button type="button" class="btn btn-success active" data-bs-toggle="button" aria-pressed="true">SELECT</button>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}